@use '_fonts.scss';
@use '_components.scss';

:root {
  --font-family:-apple-system, Lato, Helvetica, Arial, sans-serif;
  --border-radius: 0px;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-family);
  padding: 0px;
  margin: 0px;
  height: 100%;
}


